h1 {
  position: relative;
  z-index: 3;

  font-size: clamp(5.2rem, 15vw, 13.5rem);

  line-height: 0.78;

  text-transform: uppercase;

  letter-spacing: 5px;

  background:
    linear-gradient(
      120deg,
      #3a3a3a,
      #ffffff,
      #8c8c8c,
      #ffffff,
      #4a4a4a,
      #ffffff
    );

  background-size: 280% auto;

  -webkit-background-clip: text;

  color: transparent;

  animation: chromeText 20s linear infinite;

  /* THIN GOLD OUTLINE */
  -webkit-text-stroke: 1.5px rgba(212, 175, 55, 0.9);

  text-shadow:
    0 0 10px rgba(0,0,0,0.9),
    0 0 20px rgba(255,190,90,0.18),
    0 0 26px rgba(0,120,255,0.14);

  filter:
    drop-shadow(0 0 12px rgba(0,0,0,0.55));
}
